<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Welcome CRM Site</title>
</head>
<body>

    <div class="materialContainer">


        <form class="box" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
     
           <div class="title">Enter your Account Registered for CRM</div>
     
           <div class="input">
              <input type="text" name="name" id="name" placeholder="Name...">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <input type="name" name="password" id="pass" placeholder="Password...">
              <span class="spin"></span>
           </div>
     
           <div class="button login">
              <button><span>GO</span> <i class="fa fa-check"></i></button>
           </div>

         </form>
         <h3 class="intromaker">Xurshidjon Jo'rayev Exam 2 || CRM site</h3>
     </div>

    
</body>
</html>